version: "3.8"

services:

  api-gateway:
    build: ./api-gateway
    ports:
      - "5000:5000"
    depends_on:
      - auth-service
      - product-service
      - order-service
    networks:
      - micro-net
    env_file:
      - .env

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5001"
    depends_on:
      - auth-db
    networks:
      - micro-net
    env_file:
      - .env

  auth-db:
    image: mongo
    container_name: auth-db
    ports:
      - "27017:27017"
    networks:
      - micro-net

  product-service:
    build: ./product-service
    ports:
      - "5002:5002"
    depends_on:
      - product-db
    networks:
      - micro-net
    env_file:
      - .env

  product-db:
    image: mongo
    container_name: product-db
    networks:
      - micro-net

  order-service:
    build: ./order-service
    ports:
      - "5003:5003"
    depends_on:
      - order-db
    networks:
      - micro-net
    env_file:
      - .env

  order-db:
    image: mongo
    container_name: order-db
    networks:
      - micro-net

networks:
  micro-net: